<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.geely.ex2.mica.pipoverlayprobe" android:versionCode="1" android:versionName="1.0"><uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/><overlay android:targetPackage="com.android.systemui" android:isStatic="false" android:priority="1"/><application android:hasCode="false" android:label="Mica PiP overlay probe"/></manifest>