<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geely.pipinstaller" android:sharedUserId="android.uid.systemui"
    android:versionCode="1" android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_OVERLAY_PACKAGES" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:label="PiP Control" android:icon="@drawable/ic_pip"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".PipService" android:exported="false" />
        <receiver android:name=".InstallReceiver" android:exported="false" />
        <receiver android:name=".RecoveryReceiver" android:exported="false">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED" /></intent-filter>
        </receiver>
    </application>
</manifest>
